/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
client_secret_714352746420-h2p28su155a6u5vmgide4nhe8728kvvo.apps.googleusercontent.com.json
